numpy==1.26.4
openai

pandas

pillow
plotly

pydantic
pydantic_core



streamlit

urllib3


logfire
pydantic-ai[logfire]
devtools
python-dotenv
weather-api
python-weather
cachetools
wikipedia
wikipedia-api
requests